@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../IMAGES/registrationImage.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px);
    color: #ffffff;
    border-radius: 15px;
    padding: 30px 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.wrapper h1 {
    font-size: 32px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 225, 225, .4);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #ffffff;
}

.input-box svg{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: 0;
    font-size: 12px;
    background: rgba(169, 137, 137, 0.5);
    padding: 0 8px;
    border-radius: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.input-box #box {
    width: 100%;
    height: 50px;
    color:#fff;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 225, 225, .4);
    border-radius: 40px;
    font-size: 16px;
}

.input-box #box .option{
    background: transparent;
    color: black;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0 0 0 .1);
    cursor: pointer;
    font-size: 16px; 
    color: #333;
    font-weight: 600;
}

.wrapper .Login{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.Login p a {
    color: blue;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
    background: #f5f5f5;
}

